<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmj.cli.mapper.api.ProductMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.dmj.cli.domain.Product">
                    <id column="id" property="id" />
                    <result column="type_id" property="typeId" />
                    <result column="title" property="title" />
                    <result column="desc" property="desc" />
                    <result column="img_url" property="imgUrl" />
                    <result column="video_url" property="videoUrl" />
                    <result column="cover_url" property="coverUrl" />
                    <result column="content" property="content" />
                    <result column="copyright" property="copyright" />
                    <result column="match_color" property="matchColor" />
                    <result column="is_article" property="isArticle" />
                    <result column="view_num" property="viewNum" />
                    <result column="favour_num" property="favourNum" />
                    <result column="pass_reason" property="passReason" />
                    <result column="is_block" property="isBlock" />
                    <result column="is_hot" property="isHot" />
                    <result column="is_pass" property="isPass" />
                    <result column="creator" property="creator" />
                    <result column="create_time" property="createTime" />
                    <result column="updater" property="updater" />
                    <result column="update_time" property="updateTime" />
                    <result column="delete_flag" property="deleteFlag" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, type_id, title, desc, img_url, video_url, cover_url, content, copyright, match_color, is_article, view_num, favour_num, pass_reason, is_block, is_hot, is_pass, creator, create_time, updater, update_time, delete_flag
        </sql>

</mapper>
