<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmj.cli.mapper.api.UserInfoMapper">

    <select id="listCountItem" resultType="com.dmj.cli.domain.vo.api.CountItemVO">
        select date_format(create_time,'%Y-%m-%d') as date,count(1) as value from
        user_info where 1=1
        <if test="dateType == 0">
            and date_format(create_time,'%Y-%m-%d') =date_format(now(),'%Y-%m-%d')
            group by date_format(create_time,'%Y-%m-%d')
        </if>
        <if test="dateType == 1">
            and YEARWEEK(date_format(create_time,'%Y-%m-%d')) = YEARWEEK(now())
            group by date_format(create_time,'%Y-%m-%d')
        </if>
        <if test="dateType == 2">
            and date_format(create_time,'%Y-%m') =date_format(now(),'%Y-%m')
            group by date_format(create_time,'%Y-%m')
        </if>
        <if test="dateType == 3">
            and date_format(create_time,'%Y') =date_format(now(),'%Y')
            group by date_format(create_time,'%Y')
        </if>
        order by date_format(create_time,'%Y-%m-%d')
    </select>

</mapper>
