<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmj.cli.mapper.api.UserRechargeInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.dmj.cli.domain.UserRechargeInfo">
            <id column="id" property="id" />
            <result column="user_id" property="userId" />
            <result column="recharge_type" property="rechargeType" />
            <result column="pay_no" property="payNo" />
            <result column="trade_type" property="tradeType" />
            <result column="recharge_amount" property="rechargeAmount" />
            <result column="recharge_num" property="rechargeNum" />
            <result column="trade_time" property="tradeTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, user_id, recharge_type, pay_no, trade_type, recharge_amount, recharge_num, trade_time
        </sql>

</mapper>
