<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmj.cli.mapper.api.UserVideoLogMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.dmj.cli.domain.UserVideoLog">
            <id column="id" property="id" />
            <result column="video_id" property="videoId" />
            <result column="user_id" property="userId" />
            <result column="video_time" property="videoTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, video_id, user_id, video_time
        </sql>
    <select id="listVideoLog" resultType="com.dmj.cli.domain.vo.api.VideoLogVO">
        select c.id as id,c.course_title as title,c.course_desc as videoDesc,
        uv.video_time as time,c.cover_url as coverUrl from user_video_log uv
        left join course c on uv.video_id=c.id where uv.user_id=#{userId}
    </select>

</mapper>
