<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmj.cli.mapper.sys.BusinessCooperationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.dmj.cli.domain.BusinessCooperation">
            <id column="id" property="id" />
            <result column="type_id" property="typeId" />
            <result column="title" property="title" />
            <result column="desc" property="desc" />
            <result column="content" property="content" />
            <result column="cover_url" property="coverUrl" />
            <result column="tags" property="tags" />
            <result column="view_num" property="viewNum" />
            <result column="favour_num" property="favourNum" />
            <result column="collect_num" property="collectNum" />
            <result column="creator" property="creator" />
            <result column="create_time" property="createTime" />
            <result column="updater" property="updater" />
            <result column="update_time" property="updateTime" />
            <result column="delete_flag" property="deleteFlag" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, type_id, title, desc, content, cover_url, tags, view_num, favour_num, collect_num, creator, create_time, updater, update_time, delete_flag
        </sql>

</mapper>
